<section class="page-header">
    <div class="logo"><img src="https://hellice.com/logo.svg" /></div>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
    <a href="#" class="btn">View on GitHub</a>
    <a href="#" class="btn">Download .zip</a>
    <a href="#" class="btn">Download .tar.gz</a>
</section>